.container
  margin-top: 20px
  width: 800px

  header
    margin-bottom: 30px
    h1
      text-align: center
      cursor: pointer

  .home
    .actions
      width: 300px
      margin: auto
      margin-top: 20px
      text-align: center
      input
        margin-top: 20px
      button
        small
          font-size: 80%

  .room
    .navbar
      span.navbar-text
        margin-right: 10px
      .input-append
        display: inline
        margin-right: 5px
        input, span
          margin-top: 5px

    .actions
      text-align: center
      margin: auto
      margin-top: 30px